@model ProductsAndCategories.Models.Category
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h4 class="text-center">New Category</h4>
            <form asp-action="AddCategory" asp-controller="Home">
                <div class="form-group row mb-2 align-items-center">
                    <label asp-for="Name" class="col"></label>
                    <input asp-for="Name" class="form-control col" />
                </div>
                <div class="form-group row mb-2 align-items-center">
                    <input type="submit" class="btn btn-secondary" value="Create">
                </div>
            </form>
        </div>
        <div class="col-6">
            <h4 class="text-center">All Categories</h4>
            <ul class="list-group">
                @foreach (var category in ViewBag.AllCategories)
                {
                    <li class="list-group-item" style="border: none;">
                        <a  href="categories/@category.CategoryId">
                            @category.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
